@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', 'Inter', 'Poppins',
    'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: '#111111';
  background-color: '#FDF7F2';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
ul {
  list-style: none;
  text-decoration: none;

  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
